div.avatar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 1em;
  width: 98%;
}

@media (max-width: 642px) {
  .avatar {
    display: none;
  }
}

@media (max-height: 524px) {
  .avatar {
    display: none;
  }
}

.avatar div {
  width: 48px;
}

.avatar img {
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  width: inherit;
  max-height: 48px;
  min-height: 16px;
  max-width: 48px;
  min-width: 16px;
}

.avatar img {
  filter: grayscale(0%);
  transition: all 0.5s linear;
}

.avatar img.disabled {
  filter: grayscale(100%);
}
