div.avatar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-bottom: 1em;
  width: 98%;
}

@media (max-width: 642px) {
  div.avatar {
    display: none;
  }
}

@media (max-height: 524px) {
  div.avatar {
    display: none;
  }
}

div.avatar div {
  width: 48px;
}

div.avatar {
  animation-duration: 1.5s;
  animation-name: opacity;
  animation-timing-function: ease-in;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div > img {
  animation-duration: 0.5s;
  animation-name: grayScaleOn;
  animation-timing-function: ease-in;
  filter: grayscale(100%);
}

div > a > img {
  animation-duration: 0.5s;
  animation-name: grayScaleOff;
  animation-timing-function: ease-out;
  filter: grayscale(0%);
}

@keyframes grayScaleOn {
  0% {
    filter: grayscale(0%);
  }
  1000% {
    filter: grayscale(100%);
  }
}

@keyframes grayScaleOff {
  100% {
    filter: grayscale(0%);
  }
  0% {
    filter: grayscale(100%);
  }
}

div.avatar div img {
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  width: inherit;
  max-height: 48px;
  min-height: 16px;
  max-width: 48px;
  min-width: 16px;
}
