.construction {
  border: 1px solid var(--accent-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10% 5%;
  width: 100%;
}

@media (max-width: 580px) {
  .construction {
    margin-top: 0.5rem;
    width: 98%;
  }
}

.head-line {
  display: flex;
  gap: 0.3em;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 400px) {
  .head-line {
    flex-direction: column;
    text-align: center;
  }
}

.head-line p:first-child {
  color: #fff;
}

.head-line p {
  color: var(--construction-color);
  filter: drop-shadow(0em 0em 1em rgb(0 0 0 / 0.5));
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
}

.sub-line {
  display: flex;
  flex-direction: column;
}

.sub-line p:last-child {
  color: #fff;
}

.sub-line p {
  color: var(--construction-color);
  font-family: 'QuinqueFive';
  font-size: 0.3rem;
  text-align: center;
}

.construction svg {
  display: flex;
  filter: brightness(0.9) saturate(1.5) drop-shadow(0em 0em 3em rgb(0 0 0 / 1));
  height: 60%;
  margin: 5% auto;
  transform: rotateY(180deg);
  width: 50%;
}
