.root {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 80vh;
  margin: 8vh auto 0 auto;
  max-width: 520px;
  width: 90%;
}

@media (max-width: 580px) {
  .root {
    margin-top: 0;
  }
}
