:root {
  --accent-color: rgb(138, 138, 138);
  --construction-color: rgb(245, 187, 0);
  --ronny332-color: rgb(244, 24, 105);
  --links-spacing: 0.6rem;
  --links-spacing-color: rgb(100, 100, 100);
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: no-repeat rgb(69, 69, 69);
  background-size: cover;
  color: var(--accent-color);
  font-family: sans-serif;
  margin: 0;
  min-width: 320px;
}

@font-face {
  font-family: 'QuinqueFive';
  src: url('../woff/quinquefive.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  src: url('../woff/open-sans.woff') format('woff');
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
